<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>filmname</key>
		<string>Autodesk_DestinationBimCity_BuildingDesign_HD.mov</string>
		<key>profilename</key>
		<string>2015_02_27_Autodesk_BimCity_CharacterProfile_AnnaJones_HD.mov</string>
	</dict>
	<dict>
		<key>filmname</key>
		<string>Autodesk_DestinationBimCity_Construction_HD.mov</string>
		<key>profilename</key>
		<string>2015_02_27_Autodesk_BimCity_CharacterProfile_CharlesSmith_HD.mov</string>
	</dict>
	<dict>
		<key>filmname</key>
		<string>Autodesk_DestinationBimCity_Infrastructure_HD.mov</string>
		<key>profilename</key>
		<string>2015_02_27_Autodesk_BimCity_CharacterProfile_GaryBlogg_HD.mov</string>
	</dict>
</array>
</plist>
